<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nyayozangu.labs.fursa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:clickable="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">
        <provider
            android:name=".activities.main.providers.MySuggestionProvider"
            android:authorities="com.nyayozangu.labs.fursa.activities.main.providers.MySuggestionProvider" />

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhaspaApHTdZF05YKL8zmA2medxahQwRs" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="text" />

        <activity
            android:name=".activities.main.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".activities.main.SearchableActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.settings.LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".activities.settings.AccountActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.posts.ViewPostActivity"
            android:label="@string/view_post_text"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fursa.nyayozangu.com"
                    android:pathPattern="/post/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.posts.CreatePostActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.settings.SettingsActivity" />
        <activity
            android:name=".activities.comments.CommentsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".activities.tutorial.TutorialActivity" />
        <activity
            android:name=".activities.categories.ViewCategoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_view_category"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fursa.nyayozangu.com"
                    android:pathPattern="/category/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.UserPostsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_my_posts"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.settings.MySubscriptionsActivity" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <activity
            android:name=".activities.ViewImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_image"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activities.settings.FeedbackActivity" />
        <activity android:name=".activities.settings.PrivacyPolicyActivity" />
        <activity android:name=".activities.settings.AdminActivity" />
        <activity android:name=".users.UserPageActivity" />
    </application>

</manifest>